{% extends "base.html" %}
{% block content %}
{% load static %}


  <!-- Page Header -->
{% for obj in header %}
<header class="masthead" style="background-image: url({{ obj.cover_photo.url }})">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1></h1>
            <span class="subheading">{{ obj.subheading }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>


  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ obj.content | safe }}
      </div>
    </div>
  </div>
  {% endfor %}




{% endblock content %}
