{% load static %}

{% if user.is_authenticated %}

<!DOCTYPE html>
<html lang="en">

{% include "head.html" %}

<body>
	{% include "header.html" %}
	{% block content %}

	{% endblock content %}
	{% include "footer.html" %}
	{% include "scripts.html" %}
</body>

</html>

{% else %}

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>nikopensius.com</title>
	<link rel="stylesheet" href="{% static 'css/landing.css' %}" />
	<link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&display=swap" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
</head>
<body>
	<h1 class="title">unavailable<span class="blinking-cursor">|</span></h1>
</body>
</html>

{% endif %}

