html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
 
html, body {
	width: 100%;
	height: 100%;
	font-family: 'Baloo Tamma 2', cursive;
	background-image: linear-gradient(to right bottom, #a871cb, #9c76d1, #8f7cd6, #8180d9, #7285dc, #5a90e4, #3b9be9, #00a5eb, #00b7ea, #00c7df, #00d5cc, #5ce0b7);
}

h1 {
	z-index: 100;
	position: absolute;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

.title {
top: 47%;
font-size: 35px;
letter-spacing: 8px;
color: rgba(22, 23, 23, 0.71);
}


